<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.usercenter">

    <application>
        <activity android:name=".view.UpDateActivity"/>
        <activity android:name=".view.RegisterActivity" />
        <activity android:name="com.example.MainActivity"/>
        <activity android:name=".view.LoginActivity"/>
    </application>
</manifest>